<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>e2u-json-object-editor demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../all-imports.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
      <e2u-test-editor></e2u-test-editor>
  </body>
</html>
